<configurattion>
    <config>
        <name>default_lab</name>
        <value>1</value>
        <group>basic</group>
    </config>
    <config>
        <name>default_currency</name>
        <value>1</value>
        <group>basic</group>
    </config>
    <config>
        <name>default_lang</name>
        <value>1</value>
        <group>basic</group>
    </config>
    <config>
        <name>default_country</name>
        <value>1</value>
        <group>basic</group>
    </config>
    <config>
        <name>default_lab</name>
        <value>1</value>
        <group>basic</group>
    </config>
    <config>
        <name>default_lab</name>
        <value>1</value>
        <group>basic</group>
    </config>
    <config>
        <name>bo_life_time</name>
        <value>360</value>
        <group>system</group>
    </config>
    <config>
        <name>cipher_algorithm</name>
        <value>1</value>
        <group>system</group>
    </config>
    <config>
        <name>allow_employee_form_lang</name>
        <value>1</value>
        <group>system</group>
    </config>
    <config>
        <name>multi_lab_feature_active</name>
        <value>1</value>
        <group>system</group>
    </config>
    <config>
        <name>root_category</name>
        <value>1</value>
        <group>system</group>
    </config>
    <config>
        <name>customer_group</name>
        <value>1</value>
        <group>system</group>
    </config>
    <config>
        <name>enable_b2b_mode</name>
        <value>1</value>
        <group>system</group>
    </config>
    <config>
        <name>unidentified_group</name>
        <value>2</value>
        <group>system</group>
    </config>
    <config>
        <name>guest_group</name>
        <value>3</value>
        <group>system</group>
    </config>
    <config>
        <name>group_feature_active</name>
        <value>1</value>
        <group>feature</group>
    </config><config>
        <name></name>
        <value></value>
        <group></group>
    </config><config>
        <name></name>
        <value></value>
        <group></group>
    </config><config>
        <name></name>
        <value></value>
        <group></group>
    </config><config>
        <name></name>
        <value></value>
        <group></group>
    </config>
</configurattion>